
* {
  box-sizing: border-box;
}

body {
	font-family: 'Lobster', cursive;
	background-color: #050414;
}

#header-nav {
	background-color: #f95402;
	height:120px;
	border-color:#f95402;
}

div.navbar-brand h1{
		margin-top: 10px;
		font-weight:bold;
		color: #130f8e;
		text-shadow: 1px 1px 1px black;
		float : left;
	}

div.dep{
		margin-top: 10px;
		font-weight:bold;
		color: #130f8e;
		text-shadow: 1px 1px 1px black;
		clear : left;
	}

h1.text-center {
	color:#fcff7c;
	text-shadow: 1px 1px 1px #303018;
}

table, tr, td {
	border-color: #57c93d;
	border-style: solid;
}

#calendar {
	width:100%;
	height: 350px;
	background-color: #e3e4f4;
	font-size: 2em;
	text-align: center;
	vertical-align: middle;
	border-radius: 5px;
	border-spacing: 1px;
}

#month {
	font-size: 1.5em;
}

#weekdays td, #wk1 td, #wk2 td {
	width:150px;
	margin:auto; 
}

a.day {
	text-decoration: none;
	color: #333;
	font-size: .8em;
}

#wk1 td:hover,#wk2 td:hover,#wk3 td:hover,#wk4 td:hover {
	background-color:#fcff7c;
}

div.jumbotron{
	background-color:#050414; 
}

img#shlog {
	float : left;
}

img#shift {
	width: 100%;
	margin:auto;
}

 /* For Large devices*/
@media (min-width:992px) {
	
 div.navbar-brand h1{
	    font-size:3em;
	}

 div.dep{
	    font-size:2em;
	}
td.done, #wk1 td.done:hover,#wk2 td.done:hover,#wk3 td.done:hover,#wk4 td.done:hover {

	background-color: red;
}

td.done a , td.done a:hover {
	color: white;
}
	
 #header-nav, navbar navbar-default navbar-static-top {
	height:170px;
	}
h1.text-center {
	font-size: 4em;  
      }
}

/* For tablet view */
@media (min-width:768px) and (max-width:991px) {
	
	#chrch{
	    font-size:32px;
	}

div.dep{
	    font-size:28px;
	}
 #header-nav, navbar navbar-default navbar-static-top {
	height:150px;
	}
img#shlog {
	width:120px;
	height:120px;
	}
h1.text-center {
	font-size: 3em;  
      }
}

@media (min-width:425px) and (max-width:767px) {

div.navbar-brand h1{
	    font-size:21px;
	    margin:auto;
	}
a.navbar-brand {
	padding:10px;
}

a.navbar-brand.navbar-left {
	padding-right: 5px;
	padding-left: 3px;
}

div.dep{
	    font-size:18px;
	    margin:auto;
	}
img#shlog {
	width:80px;
	height:80px;
	}
h1.text-center {
	font-size: 1.5em;  
      }
nav#header-nav {
	height:95px;
 } 
div.jumbotron {
	padding-top: 15px;
  }
 div.navbar-brand {
 	padding-left: 3px;
 }

 #calendar {
 	font-size: 1.6em;
 }

}


@media (min-width:300px) and (max-width:424px) {

div.navbar-brand h1{
	    font-size:16px;
	    margin:auto;
	}
a.navbar-brand {
	padding:10px;
	padding-left: 3px;
}

div.dep{
	    font-size:14px;
	    margin:auto;
	}
img#shlog {
	width:60px;
	height:60px;

	}
h1.text-center {
	font-size: 1em;  
      }
nav#header-nav {
	height:75px;
 }
div.jumbotron {
	padding-top: 5px;
 }
div.navbar-brand {
 	padding-left: 3px;
 }
 a.navbar-brand.navbar-left {
	padding-right: 5px;
	padding-left: 3px;
 }

 #calendar {
 	font-size: 1.6em;
 }
 
}